In [1]:
# wap to check whetther a given number is odd or  even
x=int(input("enter the number"))
if x%2==0:
    print(x,":number is even")
else:
    print(x,":number is odd")

enter the number5
5 :number is odd

In [13]:
# list
g1=[11,22,85,91,"ss",6+4j]
g1.append(56)
# append use krne se kisi list me element list ke end me insert ho jata hai
# del g1
# del g1 krne se g1 delete ho jayega
# g1.clear()
# clear krne se list empty ho jaega lekin delete nhi hoga
for i in g1:
    print(i)

11
22
85
91
ss
(6+4j)
56

In [20]:
# sorting in list
x=[12,65,78,1,6,5]
# x.sort()
# x.reverse()
x.remove(78)
# remove me value batani padti  hai
x.pop(0)
# pop me index btana padta hai
for i in x:
    print(i)
# isme sort hamesha asecending order me hoga
# agar desending me krna hai to reverse use krlo

65
1
6
5

In [22]:
g1=[44,64,42,43,22,5]
g1.insert(2,100)
for i in g1:
    print(i)
# insert(index,value)
# insert kisi data ko list ke beechh me dalne ke liye use hota  hai

44
64
100
42
43
22
5

In [31]:
# to find index of an element in list
g1=[55,86,874,21,645]
print(g1.index(874))
g2=g1
g2=g1.copy()

2

In [38]:
h1=[6,7,5,4,2,49,88,66,76,15]
#  slicing operator-slice mtlb becch se kuch part uthana 
# [start:stop:steps]
p=h1[1:7:1]
print(p)
h1[3::]
# h1[3::] isski help se hum 3 index ke element se aage ke saare element slice kr skate hai

print(h1[-1])
h1[-1::-1]
# yeh use kreke hum reverse kr skate haih1 ko

[7, 5, 4, 2, 49, 88]
15

[15, 76, 66, 88, 49, 2, 4, 5, 7, 6]

In [45]:
x="sanskar"
x[1]
# yeh print ho rha mtlb index yaha bhi hai mtlb slicing yaha bi work krega
x[0:5:1]
x[-1::-1]

'raksnas'

In [54]:
t1=(44,55,1,8,100)
# t1 ek tuple hai aur tuple me tm sort nhi  krsakte kyokib tuple ke pas sort property nhi hoti ti tmhe sort krne ke liye tuple ko list me convert krna hota hai

t2=list(t1)
print(t2)
t2.sort()
print(t2)
# sort ho gaya t2
t1=tuple(t2)
print(t1)
# last me list ko tuple me change kr diya

[44, 55, 1, 8, 100]
[1, 8, 44, 55, 100]
(1, 8, 44, 55, 100)

In [56]:
#in tu,ple can not change  data
t1 =(5,8,1,3,45)
# t1[0]=10
# it will give error because we cannot update a tuple if it is created4
u1=6,7,5,999,45
# hum tuple ko bina bracket lagaye bhi likh skate hai
type(u1)

tuple

In [63]:
# SET
s1={11,22,33,44,11}
# print(s1)
s2={55,66,77,88,99}
# print(s2)
s1.update(s2)
print(s1)
# update krne se s1 me s2 ke elmenents bhi agye aur s1 update ho gya 
# same cheez union bhi krega lekin vo result to dega lekin s1 me daalega nhi

{33, 66, 99, 11, 44, 77, 22, 55, 88}

In [1]:
s1={1,5,6,7,5}
s2={1,9,10,55,6,77}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1)
s2.discard(9)

{1, 5, 6, 7, 9, 10, 77, 55}
{1, 6}
{1, 5, 6, 7}

In [78]:
s2={1,9,10,55,6,77}
s2.discard(9)
print(s2)
s1={54,5,8,8,6,10,11}
s1.remove(8)
print(s1)
# discard aur remove ek hi kaam krte hai lekin dono me ek difference hai ke agar tm koi element discared ya remove kr rhe ho jo ki hai nhi set me to discard to kuch error nhi dega lekin remove error de dega

{1, 6, 55, 10, 77}
{5, 6, 54, 10, 11}

In [5]:
# dictionary
d1={1,2,3,4,5,6}
d2={2,3,4}
print(d1.issubset(d2))
# false ajayega kyoki d1 d2 ka subbset nhi hai
print(d2.issubset(d1))
# true ajayega kyoki d2 d1 ka subset hai
print(d1.issuperset(d2))

False
True
True

In [10]:
k1={}
print(type(k1))
t1=55
print(type(t1))
# yeh int aya isko tuple banane t1=55, comma dena padega
t2=57,
print(type(t2))
# empty set banane ke liye
k1=set()
print(type(k1))

<class 'dict'>
<class 'int'>
<class 'tuple'>
<class 'set'>

In [13]:
s1=33,44,45,55
l1=list(s1)
print(l1)
l2=list(77,88,99)
# error ayega

[33, 44, 45, 55]

TypeError: list expected at most 1 argument, got 3