In [1]:
# wap to check whetther a given number is odd or  even
x=int(input("enter the number"))
if x%2==0:
    print(x,":number is even")
else:
    print(x,":number is odd")

enter the number5
5 :number is odd

In [13]:
# list
g1=[11,22,85,91,"ss",6+4j]
g1.append(56)
# append use krne se kisi list me element list ke end me insert ho jata hai
# del g1
# del g1 krne se g1 delete ho jayega
# g1.clear()
# clear krne se list empty ho jaega lekin delete nhi hoga
for i in g1:
    print(i)

11
22
85
91
ss
(6+4j)
56

In [20]:
# sorting in list
x=[12,65,78,1,6,5]
# x.sort()
# x.reverse()
x.remove(78)
# remove me value batani padti  hai
x.pop(0)
# pop me index btana padta hai
for i in x:
    print(i)
# isme sort hamesha asecending order me hoga
# agar desending me krna hai to reverse use krlo

65
1
6
5

In [22]:
g1=[44,64,42,43,22,5]
g1.insert(2,100)
for i in g1:
    print(i)
# insert(index,value)
# insert kisi data ko list ke beechh me dalne ke liye use hota  hai

44
64
100
42
43
22
5

In [31]:
# to find index of an element in list
g1=[55,86,874,21,645]
print(g1.index(874))
g2=g1
g2=g1.copy()

2

In [38]:
h1=[6,7,5,4,2,49,88,66,76,15]
#  slicing operator-slice mtlb becch se kuch part uthana 
# [start:stop:steps]
p=h1[1:7:1]
print(p)
h1[3::]
# h1[3::] isski help se hum 3 index ke element se aage ke saare element slice kr skate hai

print(h1[-1])
h1[-1::-1]
# yeh use kreke hum reverse kr skate haih1 ko

[7, 5, 4, 2, 49, 88]
15

[15, 76, 66, 88, 49, 2, 4, 5, 7, 6]

In [45]:
x="sanskar"
x[1]
# yeh print ho rha mtlb index yaha bhi hai mtlb slicing yaha bi work krega
x[0:5:1]
x[-1::-1]

'raksnas'

In [54]:
t1=(44,55,1,8,100)
# t1 ek tuple hai aur tuple me tm sort nhi  krsakte kyokib tuple ke pas sort property nhi hoti ti tmhe sort krne ke liye tuple ko list me convert krna hota hai

t2=list(t1)
print(t2)
t2.sort()
print(t2)
# sort ho gaya t2
t1=tuple(t2)
print(t1)
# last me list ko tuple me change kr diya

[44, 55, 1, 8, 100]
[1, 8, 44, 55, 100]
(1, 8, 44, 55, 100)

In [56]:
#in tu,ple can not change  data
t1 =(5,8,1,3,45)
# t1[0]=10
# it will give error because we cannot update a tuple if it is created4
u1=6,7,5,999,45
# hum tuple ko bina bracket lagaye bhi likh skate hai
type(u1)

tuple